<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dashcam Repo</a>
        </div>
        <div class="navbar-right">
            <button type="button" class="btn btn-primary navbar-btn">
                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true" style="margin-right: 15px;"></span>Subir Video
            </button>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron">
        <div class="container-fluid">
            <form class="search-form navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Ingrese su busqueda">
                </div>
                <div class="form-group" style="margin-top:10px;">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="siniestro" checked>
                        Numero de siniestro
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="rut"> RUT del asegurado
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="patente"> Patente
                    </label>

                    <button type="submit" class="btn btn-lg btn-primary" ng-click="search()" style="float:right">
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="loading" ng-if="searching">
        <span class="glyphicon glyphicon-repeat spinning" aria-hidden="true"></span>
    </div>

    <div class="results" ng-if="!searching">
        <div class="container-fluid" style="padding:10px 15px 10px 15px">

            <table width="100%">
                <tr class="result" ng-repeat="v in videos">
                    <td class="image">
                        <div class="wrapper">
                            <img ng-src="https://i1.ytimg.com/vi/{{v.videoId}}/default.jpg" ng-click="selectVideo(v)"/>
                        </div>
                    </td>
                    <td class="detail">
                        <div class="wrapper">
                            <p><b>Siniestro:</b> #{{v.siniestroId}}</p>
                            <p><b>Patente:</b> {{v.patente}}</p>
                            <p><b>RUT Asegurado:</b> {{v.rut}}</p>
                        </div>
                    </td>
                    <td class="status">
                        <div class="wrapper">
                            <span class="glyphicon glyphicon-cloud-upload" ng-class="{'on':v.uploaded}"
                                  aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-eye-open" ng-class="{'on':v.seen}"
                                  aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-cloud-download" ng-class="{'on':v.downloaded}"
                                  aria-hidden="true"></span>
                        </div>
                    </td>
                    <td class="actions" style="text-align: right">
                        <div class="wrapper">
                            <a href="/api/download/{{v.videoId}}" ng-click="download(v)" ng-if="!download[v.videoId]" class="btn btn-default">Descargar</a>
                            <span class="glyphicon glyphicon-repeat spinning" aria-hidden="true" ng-if="download[v.videoId] == 'ongoing'"></span>
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="download[v.videoId] == 'ok'"></span>
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="download[v.videoId] == 'bad'"></span>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="modal fade" id="videoSpace" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Reproducción de video</h4>
                    <span>Siniestro: #{{selectedVideo.siniestroId}}</span>
                </div>

                <div class="modal-body">

                    <div class="blocker"></div>

                    <div class="embed-responsive embed-responsive-16by9">
                        <youtube-video video-id="videoId" player="player" player-vars="playerVars"></youtube-video>
                    </div>

                </div>

                <div class="modal-footer" style="text-align: center">
                    <button class="btn btn-default" ng-click="playVideo()">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        Play
                    </button>

                    <button class="btn btn-default" ng-click="pauseVideo()">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                        Pause
                    </button>

                    <button class="btn btn-default" ng-click="stopVideo()">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                        Stop
                    </button>
                </div>

            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>© 2016 Company, Inc.</p>
    </footer>
</div>